﻿@model IEnumerable<Clientes.Models.Customers>

@{
    ViewData["Title"] = "Index";
}

<h1>Inicio</h1>
<br />

<p>
    <a asp-action="Create">Ingresa un Cliente Nuevo</a>
</p>

<form asp-action="Index" method="get">

    <p>
        <i class="fa fa-search"></i>
        <input type="search" name="empsearch" placeholder="Ingresa nombre o email" value="@ViewData["GetEmployeesDetails"]" style="width:500px" />
        <input type="submit" name="Buscar" class="btn btn-primary">
        <a asp-action="Index">Ver Todos</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saldo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saldo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Actualizar", new { id = item.Cid }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Detail", new {id = item.Cid }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Eliminar", new { id =item.Cid }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
